body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#f0ffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.welcome, .map {
  /* flex-direction: row */
  display:inline;
  flex-wrap: wrap;
  align-items: baseline
}

.welcome {
  width: 20%;
  margin: 50px;
}

.column {
  width: 45%;
  float: left;
  margin: 50px;
}