body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#f0ffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.welcome, .map { 
  flex-direction: row;
  display:grid;
  flex-wrap: wrap;
  align-items: center;
}

/* .testcont {
  display: grid;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
} */

/* .welcome {
  /* width: 20%;
  margin: 50px; */
  /*
  width: 30%;
  float: left
}

.map {
  width: 60%;
  height: 60%;
  float: right
}

.column {
  width: 100%;
  float: left;
  margin: 50px;
} */
.welcome, .map {
  /* flex-direction: row */
  display:inline;
  flex-wrap: wrap;
  align-items: center;
}

.welcome {
  margin: 10px;
  float: left
}

.map {
  float: right;
}

.column {
  width: 45%;
  /* float: left; */
  margin: 10px;
}